<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados Informe Comparativo</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/resultado_2.css') }}">
</head>
{% extends "base.html" %}

<body>
    {% block content %}
        <h1>Resultado de Informe Comparativo Solución Sistema de Ecuaciones</h1>

        {%if length != 0%}
        <div class="table-container">
          <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Método</th>
                    <th>Iteración</th>
                    <th>Error</th>
                    <th>Radio Espectral</th>
                    <th>Resultado</th>
                    
                    {% for x in x_vars %}
                        <th>{{ x }}</th>
                    {% endfor %}
                    

                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                <tr>
                    <td>{{ row.Method }}</td>
                    <td>{{ row.Iteration }}</td>
                    <td>{{ row.Error }}</td>
                    <td>{{ row.RE }}</td>
                    <td>{{ row.Result }}</td>
                    
                    {% for x in x_vars %}
                        <td>{{ row[x] }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <form action="informe2/descargar" method="post">
            <button type="submit">Descargar</button>
        </form>
    </div>
    
    <div class="result-container">
        {% if data_iter == 0 and data_error == 0%}
            <p>Todos los métodos fracasaron</p>
        {% else %}

            {% if data_iter|length == 1 and data_error|length == 1 and data_iter[0]['Method'] == data_error[0]['Method']  %}
                <h2>Mejor Método</h2>
                <div class="card mb-4">
                        {% for item in data_iter %}
                        <p>
                        
                            {% for key, value in item.items() %}
                                <strong>{{ key }}:</strong> {{ value }}<br>
                            {% endfor %}
                        </p>
                        {% endfor %}
                </div>
            {% else %}
                <h2>Método con Menor Cantidad de Iteraciones</h2>
                <div class="card mb-4">
                        {% for item in data_iter %}
                        <p>
                        
                            {% for key, value in item.items() %}
                                <strong>{{ key }}:</strong> {{ value }}<br>
                            {% endfor %}
                        </p>
                        {% endfor %}
                </div>

                <h2>Método con Menor Error</h2>
                <div class="card mb-4">
                        {% for item in data_error %}
                        <p>
                        
                            {% for key, value in item.items() %}
                                <strong>{{ key }}:</strong> {{ value }}<br>
                            {% endfor %}
                        </p>
                        {% endfor %}
                </div>
            {% endif %}
        {% endif %}
    </div>    
    {% endif %}
    {% endblock %}
</body>
</html>
